header{
    border-bottom: solid 4px color(srgb rgb(86, 0, 104);
    padding: 20px;
}

body {
    background-color: rgb(248, 212, 255);
    color: rgb(99, 0, 86);
    font-family: 'caprasimo&display';
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}